certifi==2019.11.28
chardet==3.0.4
Cython==0.29.10
docutils==0.16
gphoto2==2.2.1
idna==2.9
Kivy==1.11.1
Kivy-Garden==0.1.4
Pillow==7.0.0
pkg-resources==0.0.0
Pygments==2.6.1
requests==2.23.0
urllib3==1.25.8
wiringpi==2.60.0
